# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
#tests/results/ #I do this by adding a gitignore file inside the results directory


# due to using tox and pytest
.tox
.cache

data/
